<div class="
          backdrop-filter backdrop-blur-lg backdrop-saturate-180
          bg-rgba-25 bg-opacity-25
          rounded-lg border border-opacity-25 border-white
          p-10
          filter drop-shadow-md
          flex flex-col items-center justify-center text-center
          bg-antiquewhite">
  <div class="w-full h-full">
    <div class="h-300px w-full rounded-lg border border-white border-opacity-25">
      <img [src]="imageUrl" alt="{{altText}}" class="h-full w-full object-cover object-center group-hover:opacity-75">
    </div>
    <h3 class="text-white text-opacity-98 uppercase text-2xl">{{title}}</h3>
    <p class="mt-1 text-lg font-medium text-gray-900">{{price}}</p>
    <p class="mt-1 text-lg font-medium text-gray-900">{{discount}}</p>
    <p class="mt-1 text-lg font-medium text-gray-900">- {{price | sale:discount}}%</p>
    <p class="mt-1 text-lg font-medium text-gray-900">Quantity: {{quantity}}</p>
  </div>


  <ng-content></ng-content>
</div>