<div class="bg-blue">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="sr-only">Products</h2>

    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
      <app-card *ngFor="let product of products" 
      [imageUrl]="product.imageUrl" 
      [altText]="product.altText"
      [title]="product.title" 
      [price]="product.price"
      [discount]="product.discount"
      [quantity]="product.quantity"
      [maxQuantity]="product.maxQuantity"
      >
        <button (click)="addToBasket(product)" class="bg-pink-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
          Add
        </button>
        <button (click)="removeItem(product)" class="bg-pink-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
          Remove
        </button>
      </app-card>
    </div>
  </div>
</div>