<div class="bg-blue">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="sr-only">Products</h2>

    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
      <app-card *ngFor="let product of products" 
      [imageUrl]="product.imageUrl" 
      [altText]="product.altText"
      [title]="product.title" 
      [price]="product.price"
      [discount]="product.discount"
      [quantity]="product.quantity"
      [maxQuantity]="product.maxQuantity"
      >
        <button (click)="addToBasket(product)" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 ml-5 mb-3 mt-2">
          Add
        </button>
        <button (click)="removeItem(product)" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800 ml-5 mb-3 mt-2">
          Remove
        </button>
      </app-card>
    </div>
  </div>
</div>